{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<nav class="navbar navbar-light bg-light px-2">
    <span>
        <a class="navbar-brand" href="{% url 'home' %}">
            My ERP App
        </a> 
    </span>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link btn btn-primary active" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
        </li>
        
        </ul>
</nav>

{% endblock %}